@font-face {
  font-family: 'NanumSquareNeo';
  src: url('../fonts/NanumSquareNeo-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: 'NanumSquareNeo', sans-serif;
}